/*ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 5px dashed #426236;
    overflow: hidden;
    background-color: #564;
}

li {
    float: left;
}

li a {
    display: block;
    color: #001;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
}

li a:hover {
    background-color: #445;
}

ul {position: fixed; bottom: 0px; width: 100%;}
*/

    body {margin: 0;}

ul.sidenav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #564;
  position: fixed;
  height: 100%;
  overflow: hidden;
  border: 5px dashed #426236;
}

ul.sidenav li a {
  display: block;
  color: #001;
  text-align: center;
  padding: 10px 15px;
  text-decoration: none;
}
 
ul.sidenav li a.active {
  background-color: #4CAF50;
  color: white;
}

ul.sidenav li a:hover:not(.active) {
  background-color: #445;
  color: white;
}

div.content {
  margin-left: 25%;
  padding: 2px 18px;
  height: 1000px;
}

@media screen and (max-width: 900px) {
  ul.sidenav {
    width: 80%;
    height: auto;
    position: relative;
  }
  
  ul.sidenav li a {
    float: left;
    padding: 15px;
  }
  
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  ul.sidenav li a {
    text-align: center;
    float: none;
  }
}
